<div id="content" ng-controller="HomeController">

  <section>
    <div class="section-header">
      <ol class="breadcrumb">
        <li class="active">Keyworks Search</li>
      </ol>
    </div>
    <div class="section-body contain-lg">
      <div class="card tabs-left style-default-light">

        <!-- BEGIN SEARCH BAR -->
        <div class="card-body style-primary no-y-padding">
          <form class="form form-inverse">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="input-group-content">
                  <input ng-model="search_text" type="text" class="form-control" id="searchInput" placeholder="Enter your search here">
                  <div class="form-control-line"></div>
                </div>
                <div class="form input-group-content form-group floating-label">
                  <select ng-model="country" id="select2" name="select2" class="form-control dirty">
                    <option value="en-US">EEUU</option>
                    <option value="fr-FR">Francia</option>
                    <option value="ja-JP">Japan</option>
                    <option value="es-AR">Argentina</option>
                  </select>
                  <label for="select2">Country</label>
                </div>
                <div class="input-group-btn">
                  <button ng-click="searchBtn()" class="btn btn-floating-action btn-default-bright" type="button"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div><!--end .form-group -->
          </form>
        </div><!--end .card-body -->
        <!-- END SEARCH BAR -->

        <!-- BEGIN TAB RESULTS -->
        <ul class="card-head nav nav-tabs tabs-accent" data-toggle="tabs">
          <li ng-class="category=='search' ? 'active' : ''" ng-click="categoryBar('search')"><a  href="#">Search Engines</a></li>
          <li ng-class="category=='video' ? 'active' : ''" ng-click="categoryBar('video')"><a href="#">Videos</a></li>
          <li ng-class="category=='store' ? 'active' : ''" ng-click="categoryBar('store')"><a href="#">App Stores</a></li>
          <li ng-class="category=='qa' ? 'active' : ''" ng-click="categoryBar('qa')"><a href="#">Q & A</a></li>
          <li ng-class="category=='course' ? 'active' : ''" ng-click="categoryBar('course')"><a href="#">Courses</a></li>
        </ul>
        <!-- END TAB RESULTS -->

        <!-- BEGIN TAB CONTENT -->
        <div class="card-body tab-content style-default-bright">
          <div class="tab-pane active" id="web1">
            <div class="row">

              <div ng-if="demo==false && loading==true" class="col-lg-12">
                <div class="row">
                  <div class="col-lg-4 col-sm-8"></div>
                  <div class="col-lg-4 col-sm-8"><%= image_tag("spinningwheel.gif") %></div>
                  <div class="col-lg-4 col-sm-8"></div>
                </div>
              </div>              


              <div ng-if="demo==true" class="col-lg-12">
                <div class="row">
                  <div class="col-lg-4 col-sm-8">
                    <div class="card">
                      <div class="card-head card-head-xs style-primary">
                        <header>Step One</header>
                        <div class="tools">
                          <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>
                      </div><!--end .card-head -->
                      <div class="card-body">
                        Select Search Category at left bar
                      </div><!--end .card-body -->
                    </div><!--end .card -->
                  </div>

                  <div class="col-lg-4 col-sm-8">
                    <div class="card">
                      <div class="card-head card-head-xs style-primary">
                        <header>Step Two</header>
                        <div class="tools">
                          <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>
                      </div><!--end .card-head -->
                      <div class="card-body">
                        Select Country at right of top bar
                      </div><!--end .card-body -->
                    </div><!--end .card -->
                  </div>

                  <div class="col-lg-4 col-sm-8">
                    <div class="card">
                      <div class="card-head card-head-xs style-primary">
                        <header>Step Tree</header>
                        <div class="tools">
                          <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>
                      </div><!--end .card-head -->
                      <div class="card-body">
                        Enter your search criteria at left of top bar
                      </div><!--end .card-body -->
                    </div><!--end .card -->
                  </div>
                  
                </div>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

              </div>
              <!-- END DEMO -->

              <!-- BEGIN RESULT DIV -->
              <div ng-if="demo==false && loading==false" class="col-lg-12">
                <!-- BEGIN PAGE HEADER -->
                <div class="margin-bottom-xxl">
                  <div class="btn-group btn-group-sm pull-right">
                    <div class="col-sm-16 pull-right">
                      <button type="button" class="btn ink-reaction btn-raised btn-primary">
                        <i class="md md-content-copy"></i> Copy Clipboard
                      </button>                         
                      <button type="button" class="btn ink-reaction btn-raised btn-primary">
                        <i class="md md-file-download"></i> Download
                      </button>
                    </div>
                  </div>
                </div><!--end .margin-bottom-xxl -->
                <!-- END PAGE HEADER -->

                <!-- BEGIN TABLE RESULT LIST -->
                <div class="col-lg-12">
                  <div class="table-responsive">
                    <table id="resultTable" datatable="" class="table order-column hover dataTable no-footer" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtIntanceCallback">
<!--                       <thead>
                      <tr>
                          <th>Keywords</th>
                          <th>Volumen</th>
                          <th>CPC</th>
                          <th>Competitions</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="result in dtModel.dtData">
                          <td>{{ result.keywords }}</td>
                          <td>{{ result.volumen }}</td>
                          <td>{{ result.cpc }}</td>
                          <td>{{ result.competitions }}</td>
                      </tr>
                      </tbody>    -->                   
                    </table>
                  </div><!--end .table-responsive -->
                </div><!--end .col -->
                <!-- END TABLE RESULTS LIST -->

              </div><!--end .col -->
              <!-- END RESULT DIV -->

            </div><!--end .row -->
          </div><!--end .tab-pane -->
        </div><!--end .card-body -->
        <!-- END TAB CONTENT -->

      </div><!--end .card -->


    </div><!--end .section-body -->
  </section>

</div><!--end #content-->   