<h1 style="margin-top: 100px;">Terms of Service</h1>
<span>For SumoSuggest.com</span>
<p>We (the folks at SumoSuggest.com) run a keyword research browser, and would love for you to use it. This service is free, and designed to give you as much data as possible to help you in your keyword research process.</p>

<p>The following terms and conditions govern all use of the SumoSuggest.com website and all content, services, and products available at or through the website. Our Services are offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Our Privacy Policy) and procedures that may be published from time to time by us. You agree that we may automatically upgrade our Services, and these terms will apply to any upgrades. These terms of service are an adapted version of the wordpress terms of service, that are released under a Creative Commons Sharealike license</p>

<p>Please read this Agreement carefully before accessing or using our Services. By accessing or using any part of our services, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access or use any of our services. If these terms and conditions are considered an offer by us, acceptance is expressly limited to these terms.</p>

<p>Our Services are not directed to children younger than 13, and access and use of our Services is only offered to users 13 years of age or older. If you are under 13 years old, please do not register to use our Services. Any person who registers as a user or provides their personal information to our Services represents that they are 13 years of age or older.</p>

<p>Use of our Services requires a SumoSuggest.com account. You agree to provide us with complete and accurate information when you register for an account. You will be solely responsible and liable for any activity that occurs under your username. You are responsible for keeping your password secure.</p>


<p><strong>1. Your SumoSuggest.com Account and Website.</strong></p>

<p>If you create an account on SumoSuggest.com, you are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with it. You must immediately notify us of any unauthorized uses of your account, or any other breaches of security. We will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.</p>


<p><strong>2. Responsibility of Contributors.</strong></p>

<p>If you operate create an account, or publish a comment or post links on SumoSuggest.com, or otherwise make (or allow any third party to make) material available (any such material, "Content"), you are entirely responsible for the content of, and any harm resulting from, that Content or your conduct. That is the case regardless of what form the Content takes, which includes, but is not limited to text, photo, video, audio, or code. By using SumoSuggest.com, you represent and warrant that your Content and conduct do not violate these terms. By submitting Content you grant us a world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the Content solely for the purpose of displaying, distributing, and promoting our website. This license allows us to make publicly-posted content available to third parties selected by us so that these third parties can analyze and distribute (but not publicly display) your content through their services. If you delete Content, we will use reasonable efforts to remove it from SumoSuggest.com, but you acknowledge that caching or references to the Content may not be made immediately unavailable. </p>


<p><strong>3. Advertisements.</strong></p>

<p>We reserves the right to display advertisements on our website.</p>


<p><strong>4. Content Posted on Other Websites.</strong></p>

<p>We have not reviewed, and cannot review, all of the material made available through the websites and webpages to which SumoSuggest.com links, and that link to SumoSuggest.com. We do not have any control over those other websites, and are not responsible for their contents or their use. By linking to such a website, we do not represent or imply that we endorses such website. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. We disclaim any responsibility for any harm resulting from your use of other websites and webpages.</p>


<p><strong>5. Intellectual Property.</strong></p>

<p>This Agreement does not transfer from SumoSuggest.com to you any SumoSuggest.com or third party intellectual property, and all right, title, and interest in and to such property will remain (as between the parties) solely with SumoSuggest.com. SumoSuggest.com logo, and all other trademarks, service marks, graphics and logos used in connection with SumoSuggest.com, are trademarks or registered trademarks of SumoSuggest.com or SumoSuggest.com's licensors. Other trademarks, service marks, graphics and logos used in connection with our Services may be the trademarks of other third parties. Your use of our Services grants you no right or license to reproduce or otherwise use any SumoSuggest.com or third-party trademarks.</p>


<p><strong>6. Changes.</strong></p>

<p>We are constantly updating our Services, and that means sometimes we have to change the legal terms under which our Services are offered. If we make changes that are material, we will let you know by posting on our website, or by sending you an email or other communication before the changes take effect. The notice will designate a reasonable period of time after which the new terms will take effect. If you disagree with our changes, then you should stop using our Services within the designated notice period. Your continued use of our Services will be subject to the new terms. However, any dispute that arose before the changes shall be governed by the Terms (including the binding individual arbitration clause) that were in place when the dispute arose.</p>


<p><strong>7. Termination.</strong></p>

<p>SumoSuggest.com may terminate your access to all or any part of our Services at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your SumoSuggest.com account (if you have one), you may simply discontinue using our Services. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>


<p><strong>8. Disclaimer of Warranties.</strong></p>

<p>Our Services are provided “as is.” SumoSuggest.com hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. SumoSuggest.com does not make any warranty that our Services will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, our Services at your own discretion and risk.</p>


<p><strong>9. Limitation of Liability.</strong></p>

<p>In no event will SumoSuggest.com be liable with respect to any subject matter of this Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data. SumoSuggest.com shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p>


<p><strong>10. General Representation and Warranty.</strong></p>

<p>You represent and warrant that (i) your use of our Services will be in strict accordance with the SumoSuggest.com Privacy Policy, with this Agreement, and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of our Services will not infringe or misappropriate the intellectual property rights of any third party.</p>


<p><strong>11. US Economic Sanctions.</strong></p>

<p>You expressly represent and warrant that your use of our Services and or associated services and products is not contrary to applicable U.S. Sanctions. Such use is prohibited, and SumoSuggest.com reserve the right to terminate accounts or access of those in the event of a breach of this condition.</p>


<p><strong>12. Indemnification.</strong></p>

<p>You agree to indemnify and hold harmless SumoSuggest.com, its contractors, and its licensors, and their respective directors, officers, employees, and agents from and against any and all claims and expenses, including attorneys' fees, arising out of your use of our Services, including but not limited to your violation of this Agreement.</p>


<p><strong>13. Translation.</strong></p>

<p>These Terms of Service were originally written in English (US). We may translate these terms into other languages. In the event of a conflict between a translated version of these Terms of Service and the English version, the English version will control.</p>